HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Properties files #
src/main/resources/application-dev.yaml
src/main/resources/application-prod.yaml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

