HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Application properties ###
!**/src/main/resources/application-dev.yaml
!**/src/main/resources/application-prod.yaml