spring:
  datasource:
    url:
    username:
    password:

  jpa:
    open-in-view: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

server:
  port: 8080

powercoffee:
  app:
    jwtSecret:
    jwtExpirationMs: 86400000
    frontendUrl: